.DS_Store

*.egg-info
*.pyc
build
dist
venv

.coverage
htmlcov/

db.sqlite3
chileayuda/settings/local.py
staticfiles

.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
.idea/ChileAyuda-API.iml
.idea/.name
.idea/encodings.xml
